body {
  background-image: url("download.png");
  background-color: #cccccc;
  background-repeat: repeat;
  backround-size: 100% 100%;
  font-family: sans-serif;
  color: LightSkyBlue;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  list-style-type: none;
  margin-right: 10px;
  margin-left: 10px;
}
nav ul li a {
  text-decoration: none;
}
h1 {
  font-family: poppins;
  color: aqua;

}
* {
text-decoration: none;
}

.container {

}
a {
  color: antiquewhite;
}
