body {
  background-color: LightSkyBlue;
  font-family: sans-serif;
  color: purple;
}
nav ul {
  background: #545350;
  display: flex;
  justify-content: space-around;
}
nav ul li {
  list-style-type: none;
  margin-right: 10px;
  margin-left: 10px;
}
nav ul li a {
  text-decoration: none;
}
  
