body {
  background-image: url("download.png");
  background-color: #cccccc;
  font-family: sans-serif;
  color: purple;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  list-style-type: none;
  margin-right: 10px;
  margin-left: 10px;
}
nav ul li a {
  text-decoration: none;
}
h1 {
  font-family: poppins;
  color: black;

}
* {
text-decoration: none;
}

.container {

}
